/* * {
  box-sizing: border-box;
}
 */ 
html, body {
  
    background-color: #ffe699;
    background-size: cover;
    background-position: center;
    font-family:'Roboto', sans-serif;
}

.shoppingcart {
    width: 750px;
    height: 500px;
    margin: 90px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 8px;
   
    display: flex;
    flex-direction: column;
  }

  .title {
 
    border-bottom: 1px solid #E1E8EE;
    padding: 30px 30px;
    color: #5E6977;
    font-size: 20px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 100px;
    height: 100px;
    display: flex;
   
    
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom: 2px solid #E1E8EE;
    

  }

  
  /* Basic styling of the product name and description */
  .description {
    padding-top: 20px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block; 
    font-size: 15px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }

  form {
    width: 300px;
    margin: 0 auto;
    padding-top: 40px;
   text-align: center;
  }
  
  
  /* Quantity box styling */

  /*.value-button {
    display: inline-block;
    border-top: 1px solid #ddd;
    border-bottom: 10px solid #ddd;
    margin: 5px;
    width: 25px;
    height: 10px;
    text-align: center; 
    vertical-align: middle;
    padding: 9px 0;
    background: #ddd;
   
  }
  */


  .price {
    width: 83px;
    padding-top: 30px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

  .quantity {
    padding-top: 30px;
    text-align: center;
    position: right;
    font-weight: 300;
    margin-top: 8px;
    color: black;
  }

.button1 {
  float: right;
  margin-right: 15px;
  transition-duration: 0.4s;
  width: 80px
}

.button2 {
  float: right;
  margin-right: 5px;
  transition-duration: 0.4s;
  width: 80px
}
.button1:hover, .button2:hover {
  background-color: #ff80bf;
  
}







  

/*
  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
   
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
   
  } */