* {
  box-sizing: border-box;
}
 
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: pink;
  font-family: 'Roboto', sans-serif;
}

.shoppingcart {
    width: 750px;
    height: 470px;
    margin: 90px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 8px;
   
    display: flex;
    flex-direction: column;
  }

  .title {
    height: 89px;
    border-bottom: 1px solid #E1E8EE;
    padding: 30px 30px;
    color: #5E6977;
    font-size: 20px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 40px;
    height: 200px;
    display: flex;
  }
   
  .item:nth-child(3) {
    border-top:  2px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }


  .image1, 
  .image2 {
    margin-right: 0px;
    top: 20px;
  }
  
  /* Basic styling of the product name and description */
  .description {
    padding-top: 20px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
  }
  
  /* Quantity box styling */

  .value-button {
    display: inline-block;
    border-top: 1px solid #ddd;
    border-bottom: 10px solid #ddd;
    margin: 5px;
    width: 25px;
    height: 10px;
    text-align: center; 
    vertical-align: middle;
    padding: 9px 0;
    background: #ddd;
   
  }


  .price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
  
  .dishQuan {
    width: 200px;
    position: absolute;
    text-align: right;

  }


  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
   
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
   
  }